body {
    margin: 0;
    background-color: #C1FEFF;
}
.header {
    height: 80px;
    background: #C5FFB1;
    display: flex;
}

.title {
    color: white;
    align-self: center;
    margin: 0 32px;
    font-size: 1.5rem;
    font-weight: 100;
    text-decoration: none;
    align-self: center;
}
.nav-item{
    text-decoration: none;
    color: white;
    align-self: center;
    padding: 0 32px;
}
.filler{
    flex: 1 1 auto;
}